{# homepage #}
{% extends 'MYMainBundle:Main:layout.html.twig' %}

{%- block keywords -%}{{'homepage.keywords'|trans}}{%- endblock -%}
{%- block description -%}{{'homepage.description'|trans}}{%- endblock -%}

{#% block stylesheets %}
  {{parent()}}
  {% stylesheets output='css/carousel.css' 
      'bundles/mymain/css/carousel.css' 
      filter='cssrewrite,yui_css' %}
   <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %#}
 {#

<div class="mainads">
 {% for ad in mainads %}
         {%if app.request.attributes.get('_locale') == 'am'%}
              {% if (ad.image is defined) and (ad.image is not null) %}
                <a href="{{ad.link}}" target="_blank">
                  {% thumbnail ad.image, 'main' with{'alt': ad.title, 'title' : ad.title} %}
                </a>
              {%endif%}
            {% else %}
              {% if (ad.enimage is defined) and (ad.enimage is not null) %}
                <a href="{{ad.enlink}}" target="_blank">
                  {% thumbnail ad.enimage, 'main' with{'alt': ad.title, 'title' : ad.title} %}
                </a>
              {%endif%}
            {%endif%}
         {% endfor %}   
  
  </div>
#}  
{%block main%} 
<div class="happerning clearfix">

     <div id="slider-container" class="clearfix theme-default">
     <div id="slider_container_2">
        <div id="SliderName_2" class="SliderName_2">
          {% for slider in sliders %}
            {% if (slider.image is defined) and (slider.image is not null) %}
              {% thumbnail slider.image, 'list' with{'alt': slider.name, 'title' : slider.name} %}
            {% endif %}	
          {% endfor %}
        </div>
        
        <div id="SliderNameNavigation_2"></div>
        <script type="text/javascript">
        effectsDemo2 = 'rain,stairs,fade';
        var demoSlider_2 = Sliderman.slider({container: 'SliderName_2', width: 690, height: 300, effects: effectsDemo2,
                display: {
                        autoplay: 3000,
                        loading: {background: '#000000', opacity: 0.5, image: '/bundles/mymain/images/img/loading.gif'},
                        buttons: {hide: true, opacity: 1, prev: {className: 'SliderNamePrev_2', label: ''}, next: {className: 'SliderNameNext_2', label: ''}},
                        description: {hide: true, background: '#000000', opacity: 0.4, height: 50, position: 'bottom'},
                        navigation: {container: 'SliderNameNavigation_2', label: '<img src="/bundles/mymain/images/img/clear.gif" />'}
                         }
                         });
          </script>
       </div>
  </div>  
  
{#<div class="welcome-message">
  <h2 class="title">{{'texts.welcometitle'|trans}}</h2>
  <div class="text">{{'texts.welcometexts'|trans|raw}}</div>
</div>
#}
  
  {#<h2 class="title"><a href="{{ path('my_events') }}">{{'events_title'|trans}}</a></h2>
  <ul id="events-list" class="jcarousel-skin-events">
		{% for id,event in events %}
        <li>
          <div class="section">
            <a href="{{path('my_event_detailed', {'category_slug': event.eventCatId.slug,'event_slug': event.slug})}}">
              <img src="{% path event.image, 'list' %}" class="event_pics" alt="{{event.title}}" />
              <div class="text">
                  <div class="date">{{event.startDate|date('d/m/Y G:i')}}</div>
              </div>
              <div class="title_home">
                   {{event.title|raw}}
                </div>
                <div class="text">
                  <div class="short_content">{{event.contentShort|raw}}</div>
                </div>
              </a>
            </div>
          </li>
     {% endfor %}
  </ul>

  
 <h2 class="title"><a href="{{ path('my_main_concurs_concurs') }}">{{'menutop.new'|trans}}</a></h2>     
 #}    
 <div class="product">
      <h3>Բաժիններ</h3>
      <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product1.gif" alt="product" />
          {#<div class="text">
                  <div class="short_content">jhfgjhgfjhgj</div>
          </div>#}
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product2.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product3.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product4.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product5.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product6.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product7.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product8.gif" alt="product" />
      </a>
      <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product7.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product8.gif" alt="product" />
      </a>
          <div class="clear"></div>
    </div>
    
    <div class="product">
      <h3>Այլ</h3>
      <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product1.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product2.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product3.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product4.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product5.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product6.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product7.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product8.gif" alt="product" />
      </a>
      <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product7.gif" alt="product" />
      </a> 
		  <a href="{{ path('my_main_concurs_concurs') }}">
          <img src="/bundles/mymain/images/product8.gif" alt="product" />
      </a>
          <div class="clear"></div>
    </div>
</div>
{% endblock %}
{%block article%}
<br /><br />
<article>
<ul class="about_list">
    <h2 class="ind2">Նորություններ</h2>
<li>
<figure><img src="/bundles/mymain/images/img1.jpg" alt=""/></figure>
<div>
<h6>Aliquam congue fermentum</h6>
Lorem ipsum dolor seceter adipiscing elit. Praesent sit hendreit mauris.<br>
<a href="#" class="button">Ավելին</a>
</div>
{#<div class="clear"></div>#}
</li>
<!--Added by Me-->
<li>
<figure><img src="/bundles/mymain/images/img1.jpg" alt=""/></figure>
<div>
<h6>Aliquam congue fermentum</h6>
Lorem ipsum dolor seceter adipiscing elit. Praesent sit hendreit mauris.<br>
<a href="#" class="button">Ավելին</a>
</div>
{#<div class="clear"></div>#}
</li>
<!--  -->
 <h2 class="ind2">Հետաքրքրաշարժ</h2>
<li>
<figure><img src="/bundles/mymain/images/img2.jpg" alt=""/></figure>
<div>
<h6>Aliquam erat</h6>
Lorem ipsum dolor seceter adipiscing elit. Praesent sit hendreit mauris.<br>
<a href="#" class="button">Ավելին</a>
</div>
{#<div class="clear"></div>#}
</li>
<li class="m_bottom_zero">
<figure><img src="/bundles/mymain/images/img3.jpg" alt=""/></figure>
<div>
<h6>Donec dignissim</h6>
Lorem ipsum dolor seceter adipiscing elit. Praesent sit hendreit mauris.<br>
<a href="#" class="button">Ավելին</a>
</div>
{#<div class="clear"></div>#}
</li>
</ul>
</article>

{% endblock %}



{#%block rightmenu%}   
 {% include 'MYMainBundle:Main:rightmenu.html.twig' %}
{% endblock %#}