{# news #}
{% extends 'MYMainBundle:Main:layout.html.twig' %}

{%- block title -%}{{parent()}} | News{%- endblock -%}
{%- block keywords -%}{{'news.keywords'|trans}}{%- endblock -%}
{%- block description -%}{{'news.description'|trans}}{%- endblock -%}

{%block main%}
<h2 class="content-title-{{app.request.attributes.get('_locale')}}">{{'menutop.news'|trans}}</h2>
<div class="category">
  {% for news in pagination %}
    <div class="item-row clearfix">
      {% if news.image %}
        <a href="{{path('my_news_detailed', {'slug': news.slug})}}" class="read-more">
          <img src="{% path news.image, 'list' %}" class="news_pics" alt="{{news.title}}" />
       {#% thumbnail news.image, 'list' with{'alt': news.title, 'title' : news.title} %#}
        </a>
      {% endif %}

      <h4>{{ news.newsDate|date('d/m/Y') }}</h4>
      <br />

      <h3 class="item-title">
        <a href="{{path('my_news_detailed', {'slug': news.slug})}}">{{news.title}}</a>
      </h3>

      <div class="intro"> 
        {{news.shortContent|raw}} <a href="{{path('my_news_detailed', {'slug': news.slug})}}" class="read-more">{{'more'|trans}}</a>
      </div>
    </div>
  {% endfor %}
    
  {# navigation #}
    <div>{#{ knp_pagination_render(pagination)}#}
{{ pagination.render()|raw }}</div>
  </div>
</div>

{% endblock %}
